<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>Agnes.b</string>
		<string>Alexander McQueen</string>
		<string>Alexander Wang</string>
		<string>Ann Demeulemeester</string>
		<string>A.P.C</string>
		<string>Alice+Olivia</string>
		<string>阿玛施</string>
		<string>Adidas</string>
		<string>爱慕</string>
		<string>Balenciaga</string>
		<string>Bally</string>
		<string>Balmain</string>
		<string>Beams</string>
		<string>BFN</string>
		<string>Bottega Veneta</string>
		<string>Burberry</string>
		<string>Bvlgari</string>
		<string>Bershka</string>
		<string>宝姿</string>
		<string>Calvin Klein</string>
		<string>Cape Cobra</string>
		<string>Céline</string>
		<string>Chanel</string>
		<string>Chloé</string>
		<string>Coach</string>
		<string>Comme des Garcons</string>
		<string>Carven</string>
		<string>Cole Haan</string>
		<string>C&amp;A</string>
		<string>Dior</string>
		<string>Diesel</string>
		<string>DKNY</string>
		<string>Dolce&amp;Gabbana</string>
		<string>Dsquared2</string>
		<string>Diane von Furstenburg</string>
		<string>Denham</string>
		<string>DVF</string>
		<string>Emporio Armani</string>
		<string>Etro</string>
		<string>Emilio Pucci</string>
		<string>Eileen Fisher</string>
		<string>Etam</string>
		<string>EtamEs</string>
		<string>E·land</string>
		<string>Eblin</string>
		<string>鄂尔多斯</string>
		<string>Fendi</string>
		<string>Forever21</string>
		<string>Five plus</string>
		<string>飞鸟与新酒</string>
		<string>Giorgio Armani</string>
		<string>Givenchy</string>
		<string>Giuseppe Zanotti</string>
		<string>Glashutte Original</string>
		<string>Gucci</string>
		<string>Gianvito Rossi</string>
		<string>Gap</string>
		<string>gozo</string>
		<string>哥弟</string>
		<string>歌莉娅</string>
		<string>Hermès</string>
		<string>HUGO BOSS</string>
		<string>H&amp;M</string>
		<string>Honeys</string>
		<string>红袖</string>
		<string>江南布衣</string>
		<string>JNBY</string>
		<string>吉芬</string>
		<string>基格</string>
		<string>珂莱蒂尔</string>
		<string>Louis Vuitton</string>
		<string>例外</string>
		<string>Maison Martin Margiela</string>
		<string>Marc by Marc Jacobs</string>
		<string>Marc Jacobs</string>
		<string>Marni</string>
		<string>Max Mara</string>
		<string>Maurice Lacroix</string>
		<string>McQ</string>
		<string>Miu Miu</string>
		<string>Moschino</string>
		<string>朗姿</string>
		<string>名尚公园</string>
		<string>Only</string>
		<string>Ochirly</string>
		<string>Prada</string>
		<string>Pinko</string>
		<string>Polo Ralph Lauren</string>
		<string>plory</string>
		<string>Roem</string>
		<string>Saint laurent</string>
		<string>Salvatore Ferragamo</string>
		<string>Stella McCartney</string>
		<string>Spao</string>
		<string>Sstradivarius</string>
		<string>T by Alexander Wang</string>
		<string>Tod’s</string>
		<string>TeenieWeenie</string>
		<string>Topshop</string>
		<string>太平鸟</string>
		<string>Undercover</string>
		<string>UNIQLO</string>
		<string>Valentino</string>
		<string>Vera Wang</string>
		<string>Versace</string>
		<string>Veromoda</string>
		<string>Y-3</string>
		<string>音儿</string>
		<string>雅莹</string>
		<string>韵色</string>
		<string>Kate Spade</string>
		<string>Kenzo</string>
		<string>MCM</string>
		<string>Michael Kors</string>
		<string>Tory Burch</string>
		<string>UGG</string>
		<string>Vivienne Westwood</string>
		<string>ZARA</string>
	</array>
</plist>
