<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>嘻皮</string>
		<string>百搭</string>
		<string>淑女</string>
		<string>日风</string>
		<string>韩版</string>
		<string>民族</string>
		<string>欧美</string>
		<string>学院</string>
		<string>通勤</string>
		<string>中性</string>
		<string>嘻哈</string>
		<string>田园</string>
		<string>朋克</string>
		<string>OL</string>
		<string>街头</string>
		<string>简约</string>
		<string>波西米亚</string>
		<string>少女风</string>
		<string>名媛风</string>
		<string>英伦风</string>
		<string>复古风</string>
		<string>休闲风</string>
		<string>运动风</string>
		<string>哥特</string>
		<string>巴洛克</string>
		<string>碎花</string>
		<string>宽松</string>
		<string>修身</string>
		<string>蝙蝠</string>
		<string>镂空</string>
		<string>破洞</string>
		<string>高街</string>
		<string>时髦</string>
		<string>混搭</string>
		<string>青春</string>
		<string>运动</string>
		<string>休闲</string>
		<string>字母</string>
		<string>背带</string>
		<string>刺绣</string>
		<string>印花</string>
		<string>几何</string>
		<string>卡通</string>
		<string>镶钻</string>
		<string>亮面</string>
		<string>拼接</string>
		<string>露背</string>
		<string>亮片</string>
		<string>流苏</string>
		<string>镂空</string>
		<string>铆钉</string>
		<string>格纹</string>
		<string>荷叶边</string>
		<string>蕾丝</string>
		<string>牛仔</string>
		<string>直筒长裤</string>
		<string>背带长裤</string>
		<string>背带短裤</string>
		<string>短裤</string>
		<string>哈伦裤</string>
		<string>七分裤</string>
		<string>阔腿裤</string>
		<string>铅笔裤</string>
		<string>A字裙</string>
		<string>百褶裙</string>
		<string>长裙</string>
		<string>包臀裙</string>
		<string>花苞裙</string>
		<string>伞裙</string>
		<string>连衣裙</string>
		<string>吊带</string>
		<string>挂脖</string>
		<string>抹胸</string>
		<string>长袖</string>
	</array>
</plist>